<tr>
  <td><%= program.name %></td>
  <td class="description"><%= program.description %></td>
  <td><%= program.rails %></td>
  <td><code><%= program.revision.slice(0, 7) %></code></td>
  <td><%= time_ago_in_words program.committed_at %> ago</td>
</tr>
