<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th class="rails">Rails</th>
      <th class="revision">Revision</th>
      <th class="committed-at">Committed At</th>
    </tr>
  </thead>
  <tbody>

    <% @programs.each do |program| %>
      <tr>
        <td><%= program.name %></td>
        <td class="description"><%= program.description %></td>
        <td><%= program.rails %></td>
        <td><%= program.revision.slice(0, 7) %></td>
        <td><%= time_ago_in_words program.committed_at %> ago</td>
      </tr>
    <% end %>

  </tbody>
</table>
